[Unit]
Description=Wi-Fi Access Point Service
After=network.target

[Service]
ExecStart=/usr/sbin/hostapd /etc/hostapd/hostapd.conf
Restart=always

[Install]
WantedBy=multi-user.target